@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&family=Prata&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&family=Prata&family=Press+Start+2P&family=Quicksand:wght@300&display=swap');

:root{
    --primary-color: #001A78;
    --secondary-color: #99AFFF;
    --third-color: #CCD7FF;
    --fourth-color: #0E1A45;

    --black: #1A1D27;
    --black-10percent: rgba(26, 29, 39, .1);
    --white: #F2F5FF;
    --white-75percent: rgba(242, 245, 255, .75);

    --font-header-style: 'Quicksand', Arial, Helvetica, sans-serif;
    --font-paragraph-style: 'Open Sans', Arial, Helvetica, sans-serif;
}

.about-container{
    background-color: var(--third-color);
}

.about-text-container h2{
    font-family: var(--font-header-style);
    font-weight: bold;
}

.about-text-container p{
    font-family: var(--font-paragraph-style);
    color: var(--black);
}